<nav id="nav">

    <ul class="links">
            <div class="nav-home dropdown">
                <li class="dropbtn"><a href="https://www.thamizhkanal.com/">Home</a></li>
            </div>
            <div class="nav-tirukkurrll dropdown">
                <li class="dropbtn"><a href="https://www.thamizhkanal.com/thirukkural/">திருக்குறள்</a></li>
                <div class="dropdown-content">
                    <a href="https://www.thamizhkanal.com/arathuppaal/">அறத்துப்பால்</a>
                    <a href="https://www.thamizhkanal.com/porutupaal/">பொருட்பால்</a>
                </div>
            </div>
            <div class="nav-paartiyaar-paattlkll dropdown">
                <li class="dropbtn"><a href="https://www.thamizhkanal.com/bharathiyaar-paadalgal/">பாரதியார் பாடல்கள்</a></li>
            </div>
            <div class="nav-paartitaacnnn-paattlkll dropdown">
                <li class="dropbtn"><a href="https://www.thamizhkanal.com/bharathidasan-padalgal/">பாரதிதாசன் பாடல்கள்</a></li>
            </div>
            <div class="nav-paavlreerru-perunycittirnnnaar-paattlkll dropdown">
                <li class="dropbtn"><a href="https://www.thamizhkanal.com/pavalareru-padalgal/">பாவலரேறு பெருஞ்சித்திரனார் பாடல்கள்</a></li>
            </div>
            <div class="av-naalttiyaar dropdown">
                <li class="dropbtn"><a href="https://www.thamizhkanal.com/naalttiyaar/">நாலடியார்</a></li>
            </div>
            <div class="nav-aknaannnuurru dropdown">
                <li class="dropbtn"><a href="#">அகநானூறு</a></li>
            </div>
            <div class="nav-purananuurru dropdown">
                <li class="dropbtn"><a href="">புறநானூறு</a></li>
            </div>
            <div class="nav-keeladi dropdown">
                <li class="dropbtn"><a href="#">தமிழர் பெருமை</a></li>
                <div class="dropdown-content">
                    <a href="https://www.thamizhkanal.com/p/9b3a2b3f-5ee2-4a97-a8b4-4c8eaeb100ea/">கீழடி</a>
                    <a href="https://www.thamizhkanal.com/tamilar-vanigham/">தமிழர் வாணிகம்- கடல் வாணிகம்</a>
                </div>
            </div>
    </ul>

</nav>

 <!-- <ul class="links">புறநானூறு
    https://www.thamizhkanal.com/ghost/#/editor/post/5f48fa8a873bd1459d4387a3
        {{#foreach navigation}}
        <li class="nav-{{slug}} {{#if current}}active{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul> -->
