{{!< default}}
{{!-- The tag above means: insert everythin in this file
into the {body} of the default.hbs template --}}
{{!-- Main --}}
<main id="main">
<p>Dev</p>
<ul class="links">
    {{#get "posts" filter="tag:menu" }}
        {{#foreach posts}}
            {{content}}
        {{/foreach}}
    {{/get}}
</ul>
</main>
